<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin-panel"></ion-back-button>
    </ion-buttons>
    <ion-title>memberdashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="p$ | async; let all">
     <div *ngFor="let cc of all.usersignupdetails">
      <div *ngIf="p$ | async; let all">
      <div *ngFor="let c of all.memberform">
        <div *ngIf="cc.societyno==c.societyno">
          <ion-item>
            <small>{{ c.pname }}</small>&nbsp;
            <small>{{ c.sname  }}</small>&nbsp;&nbsp;
            <ion-button [routerLink]="['/memberdashboard',c.id]">Edit</ion-button>
          </ion-item>
        </div> 
      </div>
    </div> 
    </div>
    </ion-card-content>
  </ion-card>
</ion-content>
