<ion-header>
  <ion-toolbar>
    <ion-button color="light" slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-button>
    <ion-title>Complaints</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-card>
<ion-list>

<ion-item>
<b class="c">Delhi Jal Board</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/DelhiJalBoard?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@DelhiJalBoard</a><br>
</ion-item>
<ion-item>
<b>Facebook</b>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/delhijalboardofficial/">Delhijalofficial</a><br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;1916<br>
</ion-item>
<ion-item>
<b>Email</b>&nbsp;&nbsp;&nbsp;<a href="prodjb306@gmail.com">prodjb306@gmail.com</a><br>
</ion-item>
</ion-list>
</ion-card>

<ion-card>
<ion-list>
<ion-item>
<b class="c">BSES</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/bsesdelhi?lang=en">@bsesdelhi</a><br>
</ion-item>
<ion-item>
<b>Facebook</b>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/bsesdelhi">Bsesdelhi facebook</a><br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;011-39999808<br>
</ion-item>
<ion-item>
<b>SMS</b>&nbsp;&nbsp;&nbsp;5616108<br>
</ion-item>
</ion-list>
</ion-card>


<ion-card>
<ion-list>
<ion-item>
<b class="c">Delhi Police</b>
</ion-item>
<ion-item>
<b>Online Services</b>&nbsp;&nbsp;&nbsp;<a href="https://www.delhipolice.nic.in/citizen_services.html">Website</a><br>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/DelhiPolice?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Delhi Police Twitter</a><br>
</ion-item>
<ion-item>
<b>Facebook</b>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/DelhiPoliceOfficial/">Delhi Police Facebook</a><br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;112<br>
</ion-item>
<ion-item>
<b>Email</b>&nbsp;&nbsp;&nbsp;<a href=""></a><br>
</ion-item>
</ion-list>
</ion-card>


<ion-card>
<ion-list>
<ion-item>
<b class="c">Delhi Traffic Police</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/dtptraffic?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">@dtptraffic</a><br>
</ion-item>
<ion-item>
<b>Facebook</b>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/dtptraffic/">Facebook Page</a><br>
</ion-item>
<ion-item>
<b>Helpline no</b>&nbsp;&nbsp;&nbsp;1095/25844444<br>
</ion-item>
<ion-item>
<b>Sr. Citizen Helpline</b>&nbsp;&nbsp;&nbsp;1291<br>
</ion-item>
<ion-item>
<b>Women Helpline</b>&nbsp;&nbsp;&nbsp;1091<br>
</ion-item>
<ion-item>
<b>Sms</b>&nbsp;&nbsp;&nbsp;161<br>
</ion-item>
<ion-item>
<b>Whatsapp No</b>&nbsp;&nbsp;&nbsp;8750871493<br>
</ion-item>
<ion-item>
<b>Website</b>&nbsp;&nbsp;&nbsp;<a href="https://www.delhitrafficpolice.nic.in/">https://www.delhitrafficpolice.nic.in/</a><br>
</ion-item>
</ion-list>
</ion-card>


<ion-card>
<ion-list>
<ion-item>
<b class="c">EESL(Energy Efficiency Services Limited) Street Lights</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/EESL_India">@EESL_India</a><br>
</ion-item>
<ion-item>
<b>whatsappno</b>&nbsp;&nbsp;&nbsp;7827999111/7827999222<br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;18001803580<br>
</ion-item>
<ion-item>
<b>Email</b>&nbsp;&nbsp;&nbsp;helpline@eesl.co.in<br>
</ion-item>
<ion-item>
<b>Website</b>&nbsp;&nbsp;&nbsp;<a href="https://www.eeslindia.org/content/raj/eesl/en/home.html">eeslindia.org</a><br>
</ion-item>
</ion-list>
</ion-card>

<ion-card>
<ion-list>
<ion-item>
<b class="c">IGL(Indraprastha Gas Limited)</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/IGLSocial">@IGLSocial</a><br>
</ion-item>
<ion-item>
<b>Facebook</b>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/IGLOnline/?ref=bookmarks">IGL Facebook</a><br>
</ion-item>
<ion-item>
<b>Customer Care</b>&nbsp;&nbsp;&nbsp;1800 1025109/46074<br>
</ion-item>
<ion-item>
<b>Emergency No</b>&nbsp;&nbsp;&nbsp;199216/1800111<br>
</ion-item>
<ion-item>
<b>Website</b>&nbsp;&nbsp;&nbsp;<a href="https://www.iglonline.net/english/Default.aspx">www.iglonline.net</a><br>
</ion-item>
</ion-list>
</ion-card>


<ion-card>
<ion-list>
<ion-item>
<b class="c">Disaster Management</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/NDMAIndia">@ndmaindia</a><br>
</ion-item>
<ion-item>
<b>Facebook</b>&nbsp;&nbsp;&nbsp;<a href="https://www.facebook.com/NDMA.in">Facebook Page</a><br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;26701728/1078<br>
</ion-item>
<ion-item>
<b>Email</b>&nbsp;&nbsp;&nbsp;<a href=""></a><br>
</ion-item>
<ion-item>
<b>Mobile</b>&nbsp;&nbsp;&nbsp;9868891801/9888101885<br>
</ion-item>
<ion-item>
<b>Website</b>&nbsp;&nbsp;&nbsp;<a herf="https://www.ndma.gov.in/en/">www.ndma.gov.in</a><br>
</ion-item>
</ion-list>
</ion-card>

<ion-card>
<ion-list>
<ion-item>
<b class="c">Fire Services</b>
</ion-item>
<ion-item>
<b>Twitter</b>&nbsp;&nbsp;&nbsp;<a href="https://twitter.com/fireindia?lang=en">@FireIndia</a><br>
</ion-item>
<ion-item>
<b>Email</b>&nbsp;&nbsp;&nbsp;<a href="https://dgfscdhg.gov.in/about-fire-service">cfohq.dlfire@nic.in</a><br>
</ion-item>
<ion-item>
<b>Fire Control Room No.</b>&nbsp;&nbsp;&nbsp;101<br>
</ion-item>
</ion-list>
</ion-card>

<ion-card>
<ion-list>
<ion-item>
<b class="c">Horticulture</b>
</ion-item>
<ion-item>
<b>email</b>&nbsp;&nbsp;&nbsp;<br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;1800110093<br>
</ion-item>
</ion-list>
</ion-card>


<ion-card>
<ion-list>
<ion-item>
<b class="c">PWD Delhi</b>
</ion-item>
<ion-item>
<b>Email</b>&nbsp;&nbsp;&nbsp;pwdhqdelhi@gmail.com<br>
</ion-item>
<ion-item>
<b>Toll Free No</b>&nbsp;&nbsp;&nbsp;1800110093<br>
</ion-item>
</ion-list>
</ion-card>

</ion-content>
