<ion-header>
  <ion-toolbar>
    <ion-button color="light" slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-button>
    <ion-title>admin-panel</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-item>
      <ion-icon class="tabs-md"  name="desktop"></ion-icon>&nbsp;&nbsp;<p routerLink="/activitydashboard">Activity Dashboard</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md"  name="desktop"></ion-icon>&nbsp;&nbsp;<p routerLink="/memberdashboard">Member Dashboard</p>
    </ion-item>
    <ion-item>
    <ion-icon class="tabs-md"  name="desktop"></ion-icon>&nbsp;&nbsp;<p routerLink="/servicedashboard">Services Dashboard</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md"  name="git-compare"></ion-icon>&nbsp;&nbsp;<p routerLink="/activityform">Add Activity</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md"  name="person-add"></ion-icon>&nbsp;&nbsp;<p routerLink="/memberform">Add Members</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md"  name="apps"></ion-icon>&nbsp;&nbsp;<p routerLink="/serviceform">Add Services</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md"  name="apps"></ion-icon>&nbsp;&nbsp;<p routerLink="/rwarules">Add RWA Rules and Regulations</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md"  name="apps"></ion-icon>&nbsp;&nbsp;<p routerLink="/officebearers">Add Office Bearers List</p>
    </ion-item>
    <ion-item>
      <ion-icon class="tabs-md" name="apps"></ion-icon>&nbsp;&nbsp;<p routerLink="/payment">Payment Gateway</p>
    </ion-item>
  </ion-card>  
</ion-content>
