ion-content ion-toolbar {
  --background: translucent;
}
.img{
  height:40%;
  width:40%;
}
.category{
  background: #ff704d;
  
}
.card{
  background:yellow;
}
.p{
  border: 1px solid black;
}
.tabs-md {

  background: linear-gradient(rgb(255,69,0) ,black);
}