<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="admin-panel"></ion-back-button>
    </ion-buttons>
    <ion-title>activitydashboard</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content *ngIf="p$ | async; let all">
     <div *ngFor="let cc of all.usersignupdetails">
      <div *ngIf="p$ | async; let all">
      <div *ngFor="let c of all.activityform">
        <div *ngIf="cc.societyno==c.societyno">
         <ion-item>
           {{ c.atitle }}&nbsp;
           <small>{{ c.adate | date:'MMM,dd,yyyy' }}</small>&nbsp;&nbsp;
           <ion-button [routerLink]="['/activitydashboard',c.id]">Edit</ion-button>
         </ion-item>
        </div> 
      </div>
    </div> 
    </div>
  </ion-card-content>
  </ion-card>
</ion-content>
